@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


#task_bar::-webkit-scrollbar{
    display: none;
}

body, html, #root{
    box-sizing: border-box;
    width: 100%;
    background-color: #0a0a0a;
    font-family: Poppins;
    color: white;
}

.btn{
    padding: 10px 20px;
    border-radius: 10px;
}
